#navigation-rail {
  background-color: var(--sys-surface);

  width: 80px;

  padding: 44px 0 56px;
}

#destinations {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  gap: 12px;
}
