<div   [@fadeInMoveDown]
       [class.fade-in-hidden]="!animationDone"
       (@fadeInMoveDown.done)="onAnimationDone()"
       id="hero-element-container">
  <main id="hero-element">
    <app-theme-toggle class="theme-toggle theme-toggle-responsive"></app-theme-toggle>
    <div id="hero-content">
      <div id="hero-text-container">
        <p>Hey there!</p>
        <p>My name is Mohamed Mohamed</p>
        <p>I'm a Software Engineer</p>
      </div>
      <div id="hero-buttons">
        <a mat-stroked-button href="assets/Mohamed_Mohamed_Resume_2024.pdf" download>Download Resume</a>
        <a mat-flat-button routerLink="/app/home">Explore Portfolio</a>
      </div>
    </div>
    <img priority id="hero-image" ngSrc="assets/Headshot_2024.jpg" alt="Mohamed Mohamed" height="2163" width="2163">
  </main>
</div>
