<div id="hero-element-container">
  <main id="hero-element">
    <div id="hero-content">
      <div id="hero-text-container">
        <p>Hey there!</p>
        <p>My name is Mohamed Mohamed</p>
        <p>I'm a Software Engineer</p>
      </div>
      <div id="hero-buttons">
        <button mat-stroked-button>Download resume</button>
        <button mat-flat-button routerLink="/app/home">Explore Portfolio</button>
      </div>
    </div>
    <img id="hero-image" ngSrc="assets/Headshot_2024.jpg" alt="Mohamed Mohamed" height="1924" width="1896">
  </main>
</div>
