<article
  id="about-article"
  [@fadeInMoveDown]
  [class.fade-in-hidden]="!animationDone"
  (@fadeInMoveDown.done)="onAnimationDone()"
>
  <div id="about-title-container">
    <div>
      <h1>About Me</h1>

    </div>
  </div>

  <div id="about-content-container">
    <div id="about-content">
      <p>I am a software engineer with a strong passion for continuous learning. My journey in software development began during my junior year of college, where my eagerness to learn helped me secure several internships, working as a web developer intern at various startups. I also completed a residency with the New York City Tech Talent Pipeline, where I collaborated with others to build full-stack web applications. I graduated magna cum laude from CUNY Brooklyn College with a Bachelor of Science in Computer Science.</p>
      <p>Since graduating, I have been expanding my knowledge of enterprise development through self-directed learning and hands-on experience with my project, GroupHQ. My focus is on supporting efficient development practices within parallel teams and navigating the unique challenges of enterprise-level environments. Recently, I was accepted into the FastTrack program at Cook Systems, where I am training alongside other talented individuals to further enhance my enterprise development skills.</p>
    </div>
    <div id="about-profile-section">
      <img id="hero-image" ngSrc="assets/Headshot_2024.jpg" height="2163" width="2163" alt="Mohamed Mohamed"/>
      <div class="social-media-icons">
        <a href="https://github.com/makmn1" target="_blank" rel="noopener noreferrer">
          <img ngSrc="assets/social_media_icons/GitHub_Icon.svg" height="48" width="48" alt="github logo"/>
        </a>
        <a href="https://www.linkedin.com/in/mohamedx2/" target="_blank" rel="noopener noreferrer">
          <img ngSrc="assets/social_media_icons/LinkedIn_Icon.svg" height="48" width="48" alt="linkedin logo"/>
        </a>
      </div>
    </div>
  </div>
</article>
