<article
  id="about-article"
  [@fadeInMoveDown]
  [class.fade-in-hidden]="!animationDone"
  (@fadeInMoveDown.done)="onAnimationDone()"
>
  <div id="about-title-container">
    <div>
      <h1>About Me</h1>

    </div>
  </div>

  <div id="about-content-container">

    @if(!loadingAnimationDone) {
      <mat-spinner diameter="250" class="loading-icon" mode="indeterminate"></mat-spinner>
    } @else {
      <div id="about-content">
        <p>{{ firstParagraphText }}</p>
        <p>{{ secondParagraphText }}</p>
      </div>
      <div id="about-profile-section">
        <img id="hero-image" [src]="profileImage" height="1924" width="1896" alt="Mohamed Mohamed"/>
        <div class="social-media-icons">
          <a href="https://github.com/makmn1" target="_blank" rel="noopener noreferrer">
            <img ngSrc="assets/social_media_icons/GitHub_Icon.svg" height="48" width="48" alt="github logo"/>
          </a>
          <a href="https://www.linkedin.com/in/mohamedx2/" target="_blank" rel="noopener noreferrer">
            <img ngSrc="assets/social_media_icons/LinkedIn_Icon.svg" height="48" width="48" alt="linkedin logo"/>
          </a>
        </div>
      </div>
    }
  </div>
</article>
