.card-container {
  display: flex;
  flex-direction: column;

  width: 362px;
  height: 376px;
  border-radius: 12px;

  border: var(--sys-outline-variant) solid 1px;
  background-color: var(--sys-surface);
  box-shadow: var(--sys-outline-variant) 0 0 1px 0;
}

.card-image-container {
  width: 362px;
  height: 188px;
  position: relative;
  overflow: hidden;
}

.card-image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  width: auto;
  height: auto;
}

.card-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 16px;
  padding: 16px;
}

.card-title {
  font-size: 28px;
  line-height: 36px;
  font-weight: bold;

  margin: 0;
}

.card-subtitle {
  margin: 0;
}

.card-title-container {

}

.card-description {
  font-size: 14px;
  line-height: 20px;

  margin: 0;
}

.action-buttons {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;

  gap: 8px;
}

.action-button {
  align-self: flex-end;
  width: fit-content;

  font-size: 14px;
  line-height: 20px;
}
