#contact-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: clamp(8px, 1vw + 8px, 32px) 0 clamp(8px, 1vw + 8px, 32px);

  gap: 16px;
  padding: 0 clamp(16px, 5vw, 128px);
}

#contact-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 8px;
}

#contact-heading {
  font-size: 57px;
  line-height: 64px;
  font-weight: bold;

  margin: 0;
}

#contact-description {
  font-size: 16px;
  line-height: 24px;

  text-align: center;
  margin: 0;
}

#contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: clamp(250px, 80vw, 360px);
  min-width: 250px;
  gap: 16px;
}

.field-container {
  width: 100%;

}

#contact-form-submit-button {
  width: 100%;
}

.form-submission-success {
  font-size: 32px;
  line-height: 36px;
  font-weight: bold;

  color: var(--sys-primary);
}

.form-submission-failed {
  font-weight: bold;
  text-align: center;

  width: 360px;

  color: var(--sys-error)
}
