:root,
:host {
  --sys-background: #f9f9ff;
  --sys-on-background: #1a1b20;
  --sys-surface: #f9f9ff;
  --sys-surface-dim: #d9d9e0;
  --sys-surface-bright: #f9f9ff;
  --sys-surface-container-lowest: #ffffff;
  --sys-surface-container-low: #f3f3fa;
  --sys-surface-container: #ededf4;
  --sys-surface-container-high: #e8e7ee;
  --sys-surface-container-highest: #e2e2e9;
  --sys-on-surface: #1a1b20;
  --sys-surface-variant: #e1e2ec;
  --sys-on-surface-variant: #44474f;
  --sys-inverse-surface: #2f3036;
  --sys-inverse-on-surface: #f0f0f7;
  --sys-outline: #757780;
  --sys-outline-variant: #c5c6d0;
  --sys-shadow: #000000;
  --sys-scrim: #000000;
  --sys-surface-tint: #495d92;
  --sys-primary: #495d92;
  --sys-on-primary: #ffffff;
  --sys-primary-container: #dae2ff;
  --sys-on-primary-container: #304578;
  --sys-inverse-primary: #b2c5ff;
  --sys-secondary: #485d92;
  --sys-on-secondary: #ffffff;
  --sys-secondary-container: #dae2ff;
  --sys-on-secondary-container: #2f4578;
  --sys-tertiary: #7d4e7d;
  --sys-on-tertiary: #ffffff;
  --sys-tertiary-container: #ffd6fa;
  --sys-on-tertiary-container: #633664;
  --sys-error: #904a43;
  --sys-on-error: #ffffff;
  --sys-error-container: #ffdad5;
  --sys-on-error-container: #73342d;
  --sys-neutral: #76777d;
  --sys-neutral-variant: #757780;
  --sys-primary-fixed: #dae2ff;
  --sys-primary-fixed-dim: #b2c5ff;
  --sys-on-primary-fixed: #001847;
  --sys-on-primary-fixed-variant: #304578;
  --sys-secondary-fixed: #dae2ff;
  --sys-secondary-fixed-dim: #b1c5ff;
  --sys-on-secondary-fixed: #001946;
  --sys-on-secondary-fixed-variant: #2f4578;
  --sys-tertiary-fixed: #ffd6fa;
  --sys-tertiary-fixed-dim: #eeb4ea;
  --sys-on-tertiary-fixed: #320935;
  --sys-on-tertiary-fixed-variant: #633664;
  --sys-inverse-secondary: #b1c5ff;
  --sys-inverse-tertiary: #eeb4ea;
  --sys-inverse-error: #ffb4ab;
  --sys-error-fixed: #ffdad5;
  --sys-error-fixed-dim: #ffb4ab;
  --sys-on-error-fixed: #3b0907;
  --sys-on-error-fixed-variant: #73342d;
}
