<nav id="navigation-bar">
  <div id="destinations">
    <app-navigation-item
      icon="home"
      link="/app/home"
      class="nav-bar-item"
      isNavBarItem="true"
    ></app-navigation-item>

    <app-navigation-item
      icon="person"
      link="/app/about"
      class="nav-bar-item"
      isNavBarItem="true"
    ></app-navigation-item>

    <app-navigation-item
      icon="deployed_code"
      link="/app/works"
      class="nav-bar-item"
      isNavBarItem="true"
    ></app-navigation-item>

    <app-navigation-item
      icon="article"
      link="/app/resume"
      class="nav-bar-item"
      isNavBarItem="true"
    ></app-navigation-item>

    <app-navigation-item
      icon="contact_page"
      link="/app/contact"
      class="nav-bar-item"
      isNavBarItem="true"
    ></app-navigation-item>
  </div>
</nav>
