@if (!isSmallScreen) {
  <div class="grid-container">
    <app-navigation class="column1-navigation-rail"></app-navigation>
    <div class="content">
      @if (!hideThemeToggle) {
        <app-theme-toggle class="theme-toggle theme-toggle-large"></app-theme-toggle>
      }
      <router-outlet></router-outlet>
    </div>
    <app-footer class="footer"></app-footer>
  </div>
} @else {
  <div class="mobile-container">
    <div class="mobile-content-container">
      <div class="mobile-content">
        @if (!hideThemeToggle) {
          <app-theme-toggle class="theme-toggle theme-toggle-compact"></app-theme-toggle>
        }
        <router-outlet></router-outlet>
      </div>
      <app-footer class="footer"></app-footer>
    </div>
    <app-nav-bar class="nav-bar"></app-nav-bar>
  </div>
}



