.grid-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  height: 100vh;

  column-gap: 32px;
  row-gap: 32px;
  padding: 32px 32px 0 0;

  box-sizing: border-box;
}

.column1-navigation-rail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.content {
  justify-self: center;

  grid-column: 2;
  grid-row: 1;

  display: flex;
  flex-direction: column;

  background-color: var(--sys-surface-container-lowest);
  border-radius: 16px;

  width: 100%;
}

.theme-toggle {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  transform: rotateY(180deg);
}

.theme-toggle-large {
  right: 32px;
  top: 32px;
  transform: scale(2) rotateY(180deg);
}

.theme-toggle-compact {
  right: 16px;
  top: 16px;
  transform: scale(1.25) rotateY(180deg);
}

.footer {
  grid-column: 2;
  grid-row: 2;
}

.mobile-container {
  height: 100vh;
}

.mobile-content-container {
  display: flex;
  flex-direction: column;

  padding: 16px 16px 0 16px;

  margin: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);

  overflow: auto;
}

.mobile-content {
  flex-grow: 1;
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  background-color: var(--sys-surface-container-lowest);
  border-radius: 16px;

  width: 100%;
}

.nav-bar {
  display: block;
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: var(--sys-surface);
  overflow: hidden;
  box-sizing: border-box;

  padding: 0 env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-left);
}
