@if (!isSmallScreen) {
  <div class="grid-container">
    <app-navigation class="column1-navigation-rail"></app-navigation>
    <div class="column2-row1-content">
      <router-outlet></router-outlet>
    </div>
    <app-footer class="column2-row2-footer"></app-footer>
  </div>
} @else {
  <div class="flex-container">
    <div class="content-container">
      <div class="column2-row1-content">
        <router-outlet></router-outlet>
      </div>
      <app-footer class="column2-row2-footer"></app-footer>
    </div>
    <app-nav-bar class="nav-bar"></app-nav-bar>
  </div>
}



