/* You can add global styles to this file, and also import other style files */
@import 'material-symbols';

html, body { height: 100%; }
body {
  margin: 0;
  background-color: var(--sys-surface);
  min-height: 100vh;
}

.symbol-large {
  transform: scale(2);
  color: initial;
}
