#home-container {
  display: flex;
  flex-direction: column;
}

#home-text-container {
  display: flex;
  flex-direction: column;

  gap: 16px;
  padding: 32px 16px;
}

#home-heading {
  font-size: 57px;
  line-height: 64px;
  font-weight: bold;

  margin: 0;
}

#home-description {
  font-size: 16px;
  line-height: 24px;

  margin: 0;
}

#home-cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  gap: clamp(16px, 5vw, 64px);

  padding: clamp(16px, 4vw, 32px) clamp(16px, 8vw, 64px);
}

.home-card {
  width: clamp(250px, 100%, 360px);
}
