<main
  id="works-content-container"
  [@fadeInMoveDown]
  [class.fade-in-hidden]="!animationDone"
  (@fadeInMoveDown.done)="onAnimationDone()"
>
  <div id="works-title-container">
    <h1>Works</h1>
  </div>
  <div id="works-cards-container">
    <app-work-card
      imageUrl="assets/Headshot_2024.jpg"
      imageAltText="Mohamed Mohamed"
      title="My Portfolio"
      subtitle="FastTrack Project: Designer & Developer"
      description="Yes, that's this portfolio you're viewing now! Made during FastTrack following
      Google's Material Design 3 specs"
      primaryLink="https://github.com/makmn1/portfolio"
      primaryActionText="View code"
      secondaryLink="https://www.figma.com/design/c8R9k5rEHv2mcrPu5m6tCH/portfolio-design?node-id=20-790&t=gWYWKxOd3T7a9SD0-1"
      secondaryActionText="View design docs"
    >
    </app-work-card>

    <app-work-card
      [imageUrl]="'assets/logos/' + (currentTheme === 'dark' ? 'Spotify_Dark.svg' : 'Spotify_Light.svg')"
      imageAltText="spotify logo"
      title="Who's Who?"
      subtitle="FastTrack Project: Designer & Developer"
      description="Worked as a duo to design and develop a guess-the-song game using the Spotify API (custom playlists supported!)"
      primaryLink="https://github.com/Yuji3000/whos-who-angular"
      primaryActionText="View code"
    >
    </app-work-card>

    <app-work-card
      imageUrl="assets/badges/FastTrack_September_2024.png"
      imageAltText="cook systems logo"
      title="Cook Systems"
      subtitle="FastTrack Member"
      description="An intensive 8-week bootcamp with an emphasis on Java, Spring Boot, JavaScript, and Angular"
      primaryLink="https://www.credential.net/b31d8b6d-9687-41c6-99ad-062f1710e659"
      primaryActionText="View credential"
      secondaryLink="https://www.allaboutfasttrack.com/it-talent"
      secondaryActionText="Visit FastTrack"
    >
    </app-work-card>

    <app-work-card
      imageUrl="assets/badges/CyberSentinel_May_2024.png"
      imageAltText="correlation one cybersentinel logo"
      title="Correlation One"
      subtitle="Challenge Participant"
      description="A CTF cybersecurity competition. Hosted by Correlation One for the Department of Defense. Ranked top 10%"
      primaryLink="https://www.credential.net/8fd4e510-31b0-4f35-8ea5-8e2042577754"
      primaryActionText="View credential"
      secondaryLink="/assets/badges/CyberSentinel_Performance.jpeg"
      secondaryActionText="View my results"
    >
    </app-work-card>

    <app-work-card
      imageUrl="assets/logos/GroupHQ_Logo.png"
      imageAltText="group hq logo"
      title="GroupHQ"
      subtitle="Self-led Kubernetes Project"
      description="A project with a focus on learning and applying enterprise-level technology and best practices"
      primaryLink="https://github.com/GroupHQ "
      primaryActionText="View code"
      secondaryLink="https://www.figma.com/design/1aiblQciNmPSUcQD27GtHt/GroupHQ-Demo?node-id=0-1&t=M3B9EIvhdrUl0RAJ-1 "
      secondaryActionText="View design docs"
    >
    </app-work-card>

    <app-work-card
      imageUrl="assets/logos/ShelfLife_Logo.jpeg"
      imageAltText="shelflife logo"
      title="ShelfLife"
      subtitle="Software Engineer Intern"
      description="Worked alongside senior developers on a food ingredients marketplace using Ruby on Rails, CI / CD, and Docker"
      primaryLink="https://www.linkedin.com/company/shelflifeinc"
      primaryActionText="LinkedIn"
    >
    </app-work-card>

    <app-work-card
      imageUrl="assets/logos/Kim_C_Market_Logo.webp"
      imageAltText="kim c market logo"
      title="Kim'C Market"
      subtitle="Full Stack Developer Intern"
      description="Researched, designed, and developed solutions for a Shopify store selling premium Korean goods"
      primaryLink="https://kimcmarket.com/"
      primaryActionText="Visit Kim'C Market"
      secondaryLink="https://www.linkedin.com/company/kim-c-market "
      secondaryActionText="LinkedIn"
    >
    </app-work-card>

    <app-work-card
      [imageUrl]="'assets/logos/' + (currentTheme === 'dark' ? 'NYC_TTP_Logo_White.png' : 'NYC_TTP_Logo.png')"
      imageAltText="new york city tech talent pipeline logo"
      title="New York City TTP"
      subtitle="Alum"
      description="Participated in full-stack web developer training with React, Node, Postgres, as well as career readiness training"
      primaryLink="https://techtalentpipeline.nyc/"
      primaryActionText="Visit NYC TTP"
      secondaryLink="https://www.linkedin.com/company/nyc-tech-talent-pipeline"
      secondaryActionText="LinkedIn"
    >
    </app-work-card>

    <app-work-card
      imageUrl="assets/logos/Calculator_Image_By_Roman_Skrypnyk.jpg"
      imageAltText="calculator"
      title="JavaScript Calculator"
      subtitle="Project"
      description="One of my first projects with JavaScript. Takes in an expression and solves it—automagically!"
      primaryLink="https://javascript-calculator-b7632.web.app/"
      primaryActionText="Try it out"
      secondaryLink="https://github.com/makmn1/JavaScript_Calculator"
      secondaryActionText="View code"
    >
    </app-work-card>


    <app-work-card
      imageUrl="assets/logos/STEMKasa_Logo.jpeg"
      imageAltText="stem kasa logo"
      title="STEMKasa"
      subtitle="Technical Developer Intern"
      description="Worked on an early-learning education app, prototyping features using Node.js"
      primaryLink="https://www.renafrique.com/LandingPage/"
      primaryActionText="Visit STEMKasa"
      secondaryLink="https://www.linkedin.com/company/stemkasa"
      secondaryActionText="LinkedIn"
    >
    </app-work-card>


  </div>
</main>
