#works-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#works-title-container {
  font-size: clamp(24px, 4vw, 36px);
  line-height: clamp(16px, 5vw, 44px);
  font-weight: bold;
}

#works-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  padding: 0 16px 64px;
  gap: 64px;
}
