<main
  id="works-content-container"
  [@fadeInMoveDown]
  [class.fade-in-hidden]="!animationDone"
  (@fadeInMoveDown.done)="onAnimationDone()"
>
  <div id="works-title-container">
    <h1>Works</h1>
  </div>
  <div id="works-cards-container">
    <app-work-card
      imageUrl="assets/Headshot_2024.jpg"
      imageAltText="Mohamed Mohamed"
      title="My Portfolio"
      subtitle="FastTrack Project: Designer & Developer"
      description="Yes, that's this portfolio you're viewing now! Made during FastTrack following
      Google's Material Design 3 specs"
      primaryLink="https://github.com/makmn1/portfolio"
      primaryActionText="View code"
      secondaryLink="https://www.figma.com/design/c8R9k5rEHv2mcrPu5m6tCH/portfolio-design?node-id=20-790&t=gWYWKxOd3T7a9SD0-1"
      secondaryActionText="View design docs"
    >
    </app-work-card>

    <app-work-card
      imageUrl="assets/logos/Chat_Bubble_By_Alexander_Shatov.jpg"
      imageAltText="chat bubble"
      title="Twitter API"
      subtitle="FastTrack Project: Developer"
      description="Worked on a team to create a backend API with Spring Boot. Allows users to post, repost, and reply to tweets"
      primaryLink="https://github.com/makmn1/fasttrack-twitter-api"
      primaryActionText="View code"
    >
    </app-work-card>

    <app-work-card
      imageUrl="assets/logos/Cook_Systems_Logo.svg"
      imageAltText="cook systems logo"
      title="Cook Systems"
      subtitle="FastTrack Member"
      description="An intensive 8-week bootcamp with an emphasis on Java, Spring Boot, JavaScript, and Angular"
      primaryLink="https://www.allaboutfasttrack.com/it-talent"
      primaryActionText="Visit FastTrack"
      secondaryLink="https://cooksys.com/"
      secondaryActionText="Visit Cook Systems"
    >
    </app-work-card>

    <app-work-card
      imageUrl="assets/logos/GroupHQ_Logo.png"
      imageAltText="group hq logo"
      title="GroupHQ"
      subtitle="Self-led Microservices Project"
      description="A project with a focus on learning and applying enterprise-level technology and best practices"
      primaryLink="https://github.com/GroupHQ "
      primaryActionText="View code"
      secondaryLink="https://www.figma.com/design/1aiblQciNmPSUcQD27GtHt/GroupHQ-Demo?node-id=0-1&t=M3B9EIvhdrUl0RAJ-1 "
      secondaryActionText="View design docs"
    >
    </app-work-card>

    <app-work-card
      imageUrl="assets/logos/ShelfLife_Logo.jpeg"
      imageAltText="shelflife logo"
      title="ShelfLife"
      subtitle="Software Engineer Intern"
      description="Worked alongside other developers on a food ingredients marketplace using Ruby on Rails"
      primaryLink="https://www.linkedin.com/company/shelflifeinc"
      primaryActionText="View on LinkedIn"
    >
    </app-work-card>

    <app-work-card
      imageUrl="assets/logos/Kim_C_Market_Logo.webp"
      imageAltText="kim c market logo"
      title="Kim'C Market"
      subtitle="Full Stack Developer Intern"
      description="Researched, designed, and developed solutions for a Shopify store selling premium Korean goods"
      primaryLink="https://kimcmarket.com/"
      primaryActionText="Visit Kim'C Market"
      secondaryLink="https://www.linkedin.com/company/kim-c-market "
      secondaryActionText="View on LinkedIn"
    >
    </app-work-card>

    <app-work-card
      [imageUrl]="'assets/logos/' + (currentTheme === 'dark' ? 'NYC_TTP_Logo_White.png' : 'NYC_TTP_Logo.png')"
      imageAltText="new york city tech talent pipeline logo"
      title="New York City TTP"
      subtitle="Alum"
      description="Participated in full stack web developer training with React, Node.js, and Postgres, as well as career readiness training"
      primaryLink="https://techtalentpipeline.nyc/"
      primaryActionText="Visit NYC TTP"
      secondaryLink="https://www.linkedin.com/company/nyc-tech-talent-pipeline"
      secondaryActionText="View on LinkedIn"
    >
    </app-work-card>

    <app-work-card
      imageUrl="assets/logos/Calculator_Image_By_Roman_Skrypnyk.jpg"
      imageAltText="calculator"
      title="JavaScript Calculator"
      subtitle="Project"
      description="One of my first projects with JavaScript. Takes in an expression and solves it—automagically!"
      primaryLink="https://javascript-calculator-b7632.web.app/"
      primaryActionText="Try it out"
      secondaryLink="https://github.com/makmn1/JavaScript_Calculator"
      secondaryActionText="View code"
    >
    </app-work-card>


    <app-work-card
      imageUrl="assets/logos/STEMKasa_Logo.jpeg"
      imageAltText="stem kasa logo"
      title="STEMKasa"
      subtitle="Technical Developer Intern"
      description="Worked on an early-learning education app, prototyping features using Node.js"
      primaryLink="https://www.renafrique.com/LandingPage/"
      primaryActionText="Visit STEMKasa"
      secondaryLink="https://www.linkedin.com/company/stemkasa"
      secondaryActionText="View on LinkedIn"
    >
    </app-work-card>


  </div>
</main>
